@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

:root {
	--rdm-clr: #16a085;
}


*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--rdm-clr);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}